@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ephesis&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #080808;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  position: relative;
}

img {
  -webkit-user-drag: none;
}

.hero {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(240, 31, 31, 0), #080808);
  z-index: 1;
}

.title {
  position: absolute;
  padding: 10px;
  font-size: 60px;
  color: #ff3333;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  z-index: 2;
}

.hero-buttons-wrapper {
  position: absolute;
  top: 80%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.play,
.add {
  background-color: #444444;
  color: #ffffff;
  border: none;
  box-shadow: 2px 4px 5px #000000;
  border-radius: 100px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
}

button:hover {
  background-color: #ff3333;
}

.list-title {
  font-size: 30px;
  margin: 3px 30px;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card-item {
  padding: 2px;
  height: 150px;
  scroll-snap-align: start;
}

.card-list::-webkit-scrollbar {
  height: 8px;
  background-color: #0a0a0a;
}

.card-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff3333;
}

.card-list:-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #0a0a0a;
}
